body{
    font-family: Arial, sans-serif;
    margin: 2;
    padding: 0;
    background-color: #ffffff;
}

.bg-custom {
    background-color: #882db2; 
}


.black-text {
    color: #000; /* Cor preta */
}
